<template>
    <div class="sidebar_auth">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar"
            v-if="currentUser">
            <!-- Sidebar - Brand style="display: none;"-->
            <router-link :to="{ name: 'user' }"
                         class="sidebar-brand d-flex align-items-center justify-content-center">
                <div class="sidebar-brand-icon">
                    <div class="sidebar-brand-text">VUEAUTH</div>
                </div>

            </router-link>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <!-- Divider -->
<!--            <hr class="sidebar-divider">-->
            <!-- Heading -->
            <router-link tag="li"
                         :to="{ name: 'home' }"
                         class="nav-item" v-if="$can('permission_view')">
                <a class="nav-link">
                    <i class="fas fa-tv nav-icon"></i>
                    <span>Dashboard</span></a>
            </router-link>
            <hr class="sidebar-divider my-0">
            <div class="sidebar-heading" v-if="$can('user_view')">
                Admin
            </div>

            <router-link tag="li" :to="{ name: 'permission-table' }" class="nav-item" v-if="$can('permission_view')">
                <a class="nav-link">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Permissions</span></a>
            </router-link>

            <router-link tag="li" :to="{ name: 'role-table' }" class="nav-item"
                         v-if="$can('role_view') && $can('permission_view')">
                <a class="nav-link">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Roles</span></a>
            </router-link>

            <router-link tag="li" :to="{ name: 'users-table' }" class="nav-item" v-if="$can('user_view')">
                <a class="nav-link">
                    <i class="fas fa-users nav-icon"></i>
                    <span>Users</span></a>
            </router-link>
        </ul>
    </div>
</template>

<script>
// import $ from 'jquery';

export default {
    name: "Sidebar",
    methods: {
        toggleSideBar() {
            $("body").toggleClass("sidebar-toggled");
            $("#accordionSidebar").toggleClass("toggled");
        },
    },
    computed: {
        currentUser() {
            return this.$store.getters.currentUser
        }
    },
}
</script>

<style scoped>
.sidebar_auth {
    background: #234bbf;
}
</style>
