<template>
    <div class="container" id="container" :class="{rightPanelActive:isActive}">
        <div class="form-container sign-up-container">
            <div class="alert alert-danger text-center" role="alert" v-if="errors">
                <p v-for="err in errors">
                    {{ err[0] || err }}
                </p>
            </div>

            <form class="user" v-on:submit.prevent="authenticate">
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="exampleInputUsername"
                           aria-describedby="usernameHelp" placeholder="Enter Username" v-model="form.email"
                           autocomplete="off">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control form-control-user" id="exampleInputPassword"
                           placeholder="Password" v-model="form.password">
                </div>
                <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" id="customCheck">
                        <label class="custom-control-label" for="customCheck">Remember Me</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block btn-form">
                    Login
                </button>

            </form>
        </div>

        <div class="form-container sign-in-container">
            <img src="/img/pug.jpg" alt="" class="header-logo">
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1><strong>Welcome Back! </strong></h1>
                    <p class="card-subtitle">To keep connected with us please login with your personal info</p>
                    <button class="ghost btn-form" id="logIn" @click="login()">Log In</button>
                </div>
                <div class="overlay-panel overlay-left">
                    <h1><strong> Hi, Good day! </strong></h1>
                    <p class="card-subtitle">Enter your credentials to login! </p>
                    <!-- <button class="ghost btn-form" id="logIn" @click="login()">Back</button> -->
                </div>
            </div>
        </div>

    </div>

</template>

<script>

import {login} from '../../helpers/auth'

export default {
    name: "Login",
    data() {
        return {
            form: {
                email: '',
                password: '',
            },
            isLogin: true,
            isActive: false,
            errors: null
        }
    },
    created() {
        document.querySelector('body')
            .style =
            'background-image: background-image: linear-gradient(180deg,#4e73df 10%,#224abe 100%);\n' +
            'background-color: #4e73df; \n' +
            'background-size: cover; \n'
        // '    background-size: cover;\n' +
        // '    justify-content: center;\n' +
        // '    align-items: center;\n' +
        // '    flex-direction: column;\n' +
        // '    font-family: \'Montserrat\', sans-serif;\n' +
        // '    height: 100vh;'
        ;
    },
    computed: {
        currentUser() {
            return this.$store.getters.currentUser
        }
    },

    methods: {
        login() {
            this.isActive = !this.isActive;
        },
        authenticate() {
            this.errors = '';
            this.$store.dispatch('login');
            login(this.$data.form)
                .then((res) => {
                    this.$store.commit('loginSuccess', res);
                    this.$router.push({name: 'home'});
                }).catch((error) => {
                this.$store.commit('loginFailed', {error});
                if (this.$store.state.auth_error.status === 422) {
                    this.errors = this.$store.state.auth_error.data.errors;
                } else if (this.$store.state.auth_error.status === 400) {
                    this.$swal({
                        icon: 'error',
                        title: 'Login error',
                        text: this.$store.state.auth_error.data,
                        reverseButtons: true,
                        confirmButtonText: 'Ok',
                        cancelButtonText: 'Cancel'
                    }).then((result) => {
                        if (result.value) {
                            this.form.password = '';
                        }
                    })
                }
            })
        },
    }

}
</script>
<style scoped>
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
/*.body{*/
/*    background-color: #4e73df;*/
/*    background-image: linear-gradient(180deg,#4e73df 10%,#224abe 100%);*/
/*    background-size: cover;*/
/*}*/

.header-logo {
    height: 80%;
    position: absolute;
    width: 75%;
    top: 10%;
    left: 13%;
    border-radius: 50%;
}

.text-left {
    display: block;
}

.card-subtitle {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

.btn-form {
    border-radius: 20px;
    border: 1px solid #224c98;
    background-color: #224c98;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.btn-form:active {
    transform: scale(0.95);
}

.btn-form:focus {
    outline: none;
}

.btn-form.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
    position: relative;
    overflow: hidden;
    width: 70%;
    max-width: 100%;
    min-height: 480px;
    top: 90px;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.rightPanelActive .sign-in-container {
    transform: translateX(100%);
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.rightPanelActive .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
    background: white;
}

@keyframes show {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container.rightPanelActive .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: #414aff;
    background: -webkit-linear-gradient(to right, #2b59ff, #418dff);
    background: linear-gradient(to right, #2b59ff, #418dff);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.container.rightPanelActive .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.container.rightPanelActive .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.container.rightPanelActive .overlay-right {
    transform: translateX(20%);
}

.form-control-user {
    border: 1px solid #4a4a4a;
}

.alert {
    position: absolute;
    width: 100%;
}
</style>
